@page
@model PreBuiltFormModel
@{
    ViewData["Title"] = "Pre-Built Form Components";
}

@section scripts
{
    <script>
        const d = new dhango();

        d.baseUrl = "https://api.dhangodemo.com/v1";
        /*
        The key used here should be the key of the account that will own the token.
        This could be the merchant's key or the platform's key.
        */
        d.tokenOwnerAccountKey = "platformkey";
        /*
        This is the key for the account that we'll be displaying payment methods for.
        In this example, we are storing the tokens at the platform level, but we want
        to show the available payment methods for the given account. If the same
        account key is used in both places, the token will be owned at that level and
        the payment methods shown will only be the supported methods for that account.
        */
        d.paymentMethodAccountKey = "merchantkey";        
        // OPTIONAL: This will default to en if not specified.
        d.culture = "en";
        /*
        OPTIONAL: The supported payment methods will default to those configured for the account.
        However, this property will override the available payment methods if specified.
        For example, if the account supports multiple payment methods, but your application only
        wants to accept card payments for a given use case, you would use the following line -
        d.supportedPaymentMethods = [dhangoPaymentMethod.Card];
        */
        d.supportedPaymentMethods = [dhangoPaymentMethod.Card, dhangoPaymentMethod.ACH];

        $(document).ready(function () {
            // This call injects the form elements into the given div.
            d.displayTokenForm("dhangoTokenSection");

            $('#createToken').submit(function (event) {
                $('#confirmation').text('');

                event.preventDefault(); // Prevent form submission

                if (!d.isValid) {
                    return;
                }

                d.saveToken(postTokenHandler, postTokenErrorHandler);
            });
        });

        function postTokenHandler(postTokenResponse) {
            $('#confirmation').text('Successfully created a token of ' + postTokenResponse.id + '.');
        }

        function postTokenErrorHandler(errors) {
            // Modify the card number to trigger this error handler. You can also obtain the specific errors
            // using the example below.
            // $('#confirmation').text(errors['Card.ExpirationYear']);
            $('#confirmation').text('The payment method was not saved.');
        }
    </script>
}

<div class="text-left">
    <h1 class="display-4">Use Pre-Built Form Components</h1>
    <p>This sample shows how to use Pre-Built form components.</p>
</div>
<div class="text-center">
    <form id="createToken">
        <label id="confirmation"></label>
        <div id="dhangoTokenSection"></div>
        <div>
            <button type="submit" id="submit">Submit</button>
        </div>
    </form>
</div>

